---
// Component Imports
import Page from "@components/Page.astro";
import BlogPreview from "@components/BlogPreview.astro";

interface MarkdownFrontmatter {
  publishDate: number;
}

let title = "Example Blog";
let description = "The perfect starter for your perfect blog.";

let posts = await Astro.fetchContent("./*.md");
posts = posts.sort(
  (a, b) =>
    new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf()
);
---

<Page {description} {title}>
  <section>
    <h1 class="text-2xl">{title}</h1>
    <p>{description}</p>
  </section>
  <section aria-label="Blog post list">
    {posts.map((p) => <BlogPreview post={p} />)}
  </section>
</Page>
